<main>

    {{!-- para chamar uma partial --}}

    <section class="titulo">
        <h2>Cadastro de Médicos</h2>
    </section>
    <section style="margin:30px">

        <form action="/addMedicos" method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label>Nome:</label>
                <input type="text" id="nome" placeholder="digite seu nome" name="nome" class="form-control" value="{{resultado.nome}}"></input>
            </div>


            <div class="mb-3">
                <label>Endereço:</label>
                <input type="text" id="endereco" placeholder="digite seu endereço" name="endereco" class="form-control" value="{{resultado.endereco}}"></input>
            </div>


            <div class="mb-3">
                <label>Telefone:</label>
                <input type="tel" id="telefone" placeholder="(00) 0000-0000" class="inp" name="telefone" class="form-control" value="{{resultado.telefone}}">
            </div>


            <div class="mb-3">
                <label>Data de Nascimento:</label>
                <input type="date" id="datanascimento" placeholder="data de nascimento" name="dataNascimento" class="form-control" value="{{resultado.dataNascimento}}"></input>
            </div>


            <div class="mb-3">
                <label>UF:</label>
                <select id="estado" class="esc" id name="estado" value="{{resultado.estado}}">
                    <option value="{{resultado.estado}}">{{resultado.estado}}</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PA</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
            </div>


            <div class="mb-3">
                <label>Email</label>
                <input type="text" id="email" placeholder="digite seu e-mail" name="email" class="form-control" value="{{resultado.email}}"></input>
            </div>


            <div class="mb-3">

                <label>Situação CRM:</label>
                <select id="situacao" class="esc" id name="situacao" value="{{resultado.situacao}}">
                    <option value="{{resultado.situacao}}">{{resultado.situacao}}</option>
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>

                </select>
            </div>

            <div class="mb-3">
                <label>Especialidades:</label>
                <select id="especialidades" class="esc" name="especialidades" value="{{resultado.especialidades}}">

                    <option value="{{resultado.especialidades}}">{{resultado.especialidades}}</option>

                    {{#each especialidades}}

                    <option name="option" value="{{nome}}">{{nome}}</option>

                    {{/each}}
                </select>
            </div>

            <div class="mb-3">
                <input type="file" name="imagem">
            </div>


            <input type="hidden" id="" name="idInp" value="{{resultado._id}}" >
            <button id="" type="submit">{{action}}Salvar</button>

        </form>
    </section>
</main>