<main id="cadastroMed">


    <section class="mb-4" style=background:"linear-gradient(to bottom, Transparente 0%,Transparente 50%,red 50%,red 100%)">
        <h1 class="display-2 text-center mt-3">Cadastro de Médicos</h1>
    </section>
    <section style="" class="col col-lg-6 col-sm-12 container card mb-4 bg-light ">

        <form action="/addMedicos" method="post" enctype="multipart/form-data">

            <div class="mt-4 mb-3">
                <label><h5>Nome:</h5></label>
                <input type="text" id="nome" placeholder="digite seu nome" name="nome" class="form-control w-80" value="{{resultado.nome}}"></input>
            </div>


            <div class="mb-3">
                <label><h5>Endereço:</h5></label>
                <input type="text" id="endereco" placeholder="digite seu endereço" name="endereco" class="form-control" value="{{resultado.endereco}}"></input>
            </div>


            <div class="mb-3">
                <label><h5>Telefone:</h5></label>
                <input type="tel" id="telefone" placeholder="(00) 0000-0000" class="form-control" name="telefone" class="form-control" value="{{resultado.telefone}}">
            </div>


            <div class="mb-3">
                <label><h5>Data de Nascimento:</h5></label>
                <input type="date" id="datanascimento" placeholder="data de nascimento" name="dataNascimento" class="form-control" value="{{resultado.dataNascimento}}"></input>
            </div>


            <div class="mb-3">
                <label><h5>UF:</h5></label>
                <select id="estado" class="form-control" name="estado" value="{{resultado.estado}}">
                    <option value="{{resultado.estado}}">{{resultado.estado}}</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PA</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
            </div>


            <div class="mb-3">
                <label><h5>Email</h5></label>
                <input type="text" id="email" placeholder="digite seu e-mail" name="email" class="form-control" value="{{resultado.email}}"></input>
            </div>


            <div class="mb-3">

                <label><h5>Situação CRM:</h5></label>
                <select id="situacao" class="form-control" id name="situacao" value="{{resultado.situacao}}">
                    <option value="{{resultado.situacao}}">{{resultado.situacao}}</option>
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>

                </select>
            </div>

            <div class="mb-3">
                <label><h5>Especialidades:</h5></label>
                <select id="especialidades" class="form-control" name="especialidades" value="{{resultado.especialidades}}">

                    <option value="{{resultado.especialidades}}">{{resultado.especialidades}}</option>

                    {{#each especialidades}}

                    <option name="option" value="{{nome}}">{{nome}}</option>

                    {{/each}}
                </select>
            </div>

            <div class="mb-3">
                <input type="file" name="imagem">
            </div>


            <input type="hidden" id="" name="idInp" value="{{resultado._id}}" >
            <button id="" type="submit" class="btn btn-dark mb-4">{{action}}Salvar</button>

        </form>
    </section>
</main>