<section>
    <table class="table table-striped">
        <thead class="text-center">
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Data de Nasc.</th>
            <th>UF:</th>
            <th>Email</th>
            <th>Situação</th>
            <th>Especialidade</th>

        </thead>
        <tbody>
            {{#each resultado}}
            <tr>
                <td>{{nome}}</td>
                <td>{{endereco}}</td>
                <td>{{telefone}}</td>
                <td>{{dataNascimento}}</td>
                <td>{{estado}}</td>
                <td>{{email}}</td>
                <td>{{situacao}}</td>
                <td>{{especialidades}}</td>
                
                <td>
                    <a href="/medico/editar/{{_id}}"><img src="/img/edit.png"width="20px"></a>
                    {{!-- quando clicar em excluir vai chamar a rota definida la no index, colocar botão em um link passar a rota e o id do get dentro do handlebars com underline _ --}}
                    <a href="/medico/deletar/{{_id}}"><img src="/img/delete.png"width="20px"></a>
                </td>
            </tr>
            {{/each}}
        </tbody>

    </table>

</section>